<div class="input-group">
  <input type="text"
         class="form-control datepicker"
         datepicker-popup="MM-dd-yyyy"
         ng-model="ngModel"
         is-open="opened"
         min-date="minDate"
         max-date="maxDate"
         datepicker-options="dateOptions"
         date-disabled="disabled(date, mode)"
         ng-required="true"
         close-text="Close"
         ng-disabled="ngDisabled"
         ng-click="open($event)" />
    <span class="input-group-btn">
        <button class="btn btn-primary" ng-click="open($event)" ng-disabled="ngDisabled"><i class="fa fa-calendar"></i></button>
    </span>
</div>
